
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<partial name="_ProductListPV" model="@ViewBag.productList"></partial>

<partial name="_ProductListPV2" model="@ViewBag.productList"></partial>

<partial name="/PartialViews/_ProductList3PV.cshtml"></partial>



