
@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create" asp-controller="ModelBinding", asp-route-productId="5">

    <input type="text" name="name" />
    <input type="text" name="age" />

    <input type="submit"  value="Kaydet">
</form>